*.dll 
VoiceControlPlayground/.vs/*
/SignalR.Playground/.vs/SignalR*
/VoiceControlPlayground/VoiceControlPlayground/bin/*
/React_Tic-Tac-Toe/.idea
*.suo
/VoiceControlPlayground/.vs/VoiceControlPlayground/v15/.suo
