<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="Main" value="\\\\cinenas\\ProductDev\\Deploy\\CineNet\\CineNet Main\\"/>
    <add key="Release" value="\\\\cinenas\\ProductDev\\Deploy_2_5\\"/>
  </appSettings>
</configuration>