@model TipCalculator.Models.CalculatorOutput

@{
    ViewBag.Title = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Results</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <p>Purchase Amount: @Model.Amount.ToString("C")</p>
            <p>Tip Amount: @Model.TipAmount.ToString("C")</p>
            <p>----------------------------------</p>
            <p>Total Amount: @Model.TotalAmount.ToString("C")</p>
            <p>@Html.ActionLink("Calculate another tip!", "GetInput", "Home")</p>
        </div>
    </div>
</body>
</html>
